$bg-color-black: rgb(0,0,0);
$headline-primary-color: rgb(68, 187, 204);
$headline-secondary-color: rgb(255, 255, 255);
$headline-fourth:rgb(255, 167, 66);
$headline-secondary-color2: rgb(68, 187, 204);
$color-buton:rgba(68, 187, 204, .4);
$color-light-grey-1: #f7f7f7;
$color-text:#98a2ac;
$Footer-color:#44bbcc;
$color-white: rgb(255, 255, 255);

$color-primary-light: #66cedd;

$color-secondary-light:#ffb900;/* yellow */ 
$color-secondary-dark:#ff7730; /* orange */
$color-grey-dark-2:#999;






//FONTS

$font-defaut: 1.6rem 'avenir_next_regular';
$font-defaut2: 1.4rem 'avenir_next_regular';
$default-fontsize:1.6rem;
$font-defaut3: .85rem 'avenir_next_bold';
$font-defaut2-light: 1.6rem 'avenir_next_light';
$font-defaut2-light1: 1rem 'avenir_next_light';


//GRID

$grid-width:114rem;
// $gutter-vertical:8rem;
$gutter-vertical:8rem;
$gutter-vertical-small:4rem;
$gutter-horizontal:6rem;







