.u-margin-bottom-small{	padding-top: 3.2rem;}

.u-margin-top-small{ margin-bottom: 2.1rem; }

.u-margin-all-small{ padding:3.2rem;}

.u-margin-bottom-big{ margin-bottom: 5rem;}

.u-margin-all-other{ padding:1.2rem 0; }


.u-margin-top-small-1{ margin-top:3rem; }

.u-center-text{ text-align: center;}